.navbar {
  background-color: black;
  padding: 8px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.navbar a:hover {
  text-decoration: underline;
}

