.task-card{
    display: block;
    background-color:#FFF8D4;
    border-left:4px solid #3B4953;
    border-radius: 4px;
    padding: 16px;
    max-width: 500px;
    margin: 12px auto;
    box-shadow: 0 2px 4px #04ca221a;
    display: flex;
    justify-content: space-between;
}
.icon-delete{
    color:#bc257f;
    cursor:pointer;
}